
{% extends "base.html" %}
{% load staticfiles  %}
{% block content %}
    <div class = "section-top">
     <img src="{% static 'media/12.jpg' %}" class="img-responsive img-top">
    </div>
    <div class="section section1">
        <div class="container">
        <div class="row">
        <h1 class="text-center">New arrivals</h1>
            {% for item in product_image %}
                {% include 'store/product_item.html' %}
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="section section-delivery">
        <h3>Free shipping from 2000UAH</h3>
    </div>

    <div class="section section2 phones-container">
        <div class="container">
        <div class="row">
        <h1 class="text-center">Phones</h1>
            {% for item in product_image_phone %}
                 {% include 'store/product_item.html' %}
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="section section3 laptop-container">
        <div class="container">
        <div class="row">
        <h1 class="text-center">Laptops</h1>
            {% for item in product_image_laptop %}
                {% include 'store/product_item.html' %}
            {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}

