
{% extends "base.html" %}
{% load staticfiles  %}
{% block content %}
    <div class = "section-top">
     <img src="{% static 'store/img/12.jpeg' %}" class="img-responsive">
    </div>
    <div class="section">
        <div class="container">
            {% for item in product_image %}
            <div class="row">
                <div class="col-md-3">
                    <div class="product-item">
                       <div class="img-responsive">
                            <img src=""{{ product_image.image.url }}"">
                       </div>
                        <h4>{{ item.product.name }}</h4>
                        <p>{{ item.product.short_description|truncatechars_html:40 }}</p>
                        <div> Price {{ item.product.price }}UAH</div>
                        <div class="add-to-card-btn">
                            <button class="btn btn-success">Add to card</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

