<div class="col-md-3">
    <div class="product-item">
       <div>
            <a href="{% url 'product' item.product.id %}">
            <img src="{{ item.image.url }}" alt="image" class="img-responsive img-edit">
            </a>
       </div>
        {% if item.product.discount %}
        <div class="discount-container">
            <span>-{{item.product.discount}}%</span>
        </div>
        {% endif %}
        <h4>{{ item.product.name }}</h4>
        <p>{{ item.product.short_description|truncatechars_html:40 }}</p>
        <div> Price {{ item.product.price_per_item }}UAH</div>
        <div class="add-to-card-btn ">
            <form action="">
            <input type="button" value="Add to card"
                   onclick=""
                   class="btn btn-success add-to-cart-input">
            </form>
        </div>
    </div>
</div>