<div class="col-md-3">
    <div class="product-item">
       <div>
{#            <a href="{% url 'product' item.product.id %}">#}
            <img src="{{ item.image.url }}" alt="image" class="img-responsive img-edit">
{#            </a>#}
       </div>
        {% if item.product.discount %}
        <div class="discount-container">
            <span>-{{item.product.discount}}%</span>
        </div>
        {% endif %}
        <div>
            <h4>{{ item.product.name }}</h4>
            <p>{{ item.product.short_description|truncatechars_html:20 }}</p>
            <div> Price {{ item.product.price_per_item }}UAH</div>
        </div>
        <div class="add-to-card-btn ">
            <a href="{% url 'product' item.product.id %}">
                <button class="btn btn-success">
                <!--Add to card-->Go to product page
                </button>
            </a>
        </div>
    </div>
</div>