{%load static%}
<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>mystore</title>
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
			<link rel="stylesheet" href = '{% static "store/style.css" %}'>
			<style>
				html, body {
					height: 100%;
					max-height: 100%;
				}
				.top-container {
					margin-top: 40px;
				}
			</style>
		</head>
		<body>
			<div class="general-container">
				<div class="container top-container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class = "title">Our store will be open soon...</h1>
							<h1 class = "title">Leave your mail pleace</h1>
							<div>
								<form action = "" method = "post">{%csrf_token%}
									{{form.as_p}}
									<div>
										<button type = "submit" class = "btn btn-primary">Send</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>

</html>

