body {
	background-color: #b8cabb;
	height: 100%;
	max-height: 100%;
	color:black;
    font-family: 'Roboto', sans-serif;
}


.product-item {
	height: 360px;
	background: white;
	position: relative;
	border: solid 1px grey;
	padding: 10px 0 10px 0;
	text-align: center;
	margin-bottom: 10px;

}

.section-top {
	margin:20px;
}

.add-to-card-btn {
	position: absolute;
	bottom: 10px;
	left: 30%;

}

.img-edit {
	height: 200px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
}
.wrapper-content {
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: white;
}

.navbar {
	margin-bottom: 0px;
}

.wrapper {
padding-bottom: 100px;
}

.discount-container {
	position: absolute;
	background: #24c74f;
	top: 5%;
	font-weight: 700;
	padding: 2px;
	width: 20%;
	color: white;
}

.section-delivery {
	height: 300px;
	background-color: rgba(71, 255, 105, 0.42);
	text-align: center;
	color: white;
	font-weight: 700;
	padding-top: 100px;
}

.item-img {
	margin-top: 10px;
}

.product-description {
	padding: 10px;

}

.navbar-top {
	min-height: 20px;
	height: auto;
	background: #bacbbc;
	border:none;
}

.navbar-main {
	background: #c5d6c7;
	border: none;
}

.basket {
	padding-left: 17%;
}
ul.basket-item>li {
	width: 600px;

}
#id-delete_item {
	display: inline;
	padding:3px;
	font-weight: 500;
	color: green;

}
.img-top {
	width: 100%;
}

