body {
	background-color: lightgray;
	height: 100%;
	max-height: 100%;
	color:black;
    font-family: 'Roboto', sans-serif;
}


.product-item {
	height: 360px;
	background: white;
	position: relative;
	border: solid 1px grey;
	padding: 10px 0 10px 0;
	text-align: center;
	margin-bottom: 10px;

}

.section-top {
	margin:20px;
}

.add-to-card-btn {
	position: absolute;
	bottom: 10px;
	left: 30%;

}

.edit {
	height: 200px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.footer {
	height: 200px;
	margin-bottom: -100px;
	background-color: white;
	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    width: 100%; /* Ширина слоя */
}

.navbar {
	margin-bottom: 0px;
}

.wrapper {
padding-bottom: 100px;
}

.discount-container {
	position: absolute;
	background: #24c74f;
	top: 5%;
	font-weight: 700;
	padding: 2px;
	width: 20%;
	color: white;
}

.section-delivery {
	height: 300px;
	background-color: rgba(71, 255, 105, 0.42);
	text-align: center;
	color: white;
	font-weight: 700;
	padding-top: 100px;
}