body,html,nav {
	background-color: #b8cabb;
	height: 100%;
	max-height: 100%;
	color:black;
    font-family: 'Roboto', sans-serif;
}


.product-item {
	height: 370px;
	background: white;
	position: relative;
	border: solid 1px grey;
	padding: 10px 0 10px 0;
	text-align: center;
	margin-bottom: 10px;

}

.section-top {
	margin:20px;
}

.add-to-card-btn {
	margin-top: 5px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;


}

.img-edit {
	max-height: 250px;
	height: 200px;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
}
.wrapper-content {
  padding-bottom: 300px;
}
.footer {
  color:white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 300px;
  background-color: #095c37;
}

.navbar {
	margin-bottom: 0px;
}

.wrapper {
padding-bottom: 120px;
}

.discount-container {
	position: absolute;
	background: #ff9000;
	top: 5%;
	font-weight: 700;
	padding: 2px;
	width: 20%;
	color: white;
}

.section-delivery {
	height: 300px;
	background-color: rgba(71, 255, 105, 0.42);
	text-align: center;
	color: white;
	font-weight: 700;
	padding-top: 100px;
}

.item-img {
	margin-top: 10px;
	height: 280px;
	width: 340px;
}

.product-description {
	padding: 10px;

}

.navbar-top {
	min-height: 20px;
	height: auto;
	background: #bacbbc;
	border:none;
}

.navbar-main {
	background: #c5d6c7;
	border: none;
	/*height: 50px;*/
}

.basket {
	/*padding-left: 17%;*/
	width: 200px;
	min-width: 200px;
	float: right;
	display: inline-block;
	margin: 0;
}

#id-delete_item {
	display: inline;
	padding:3px;
	font-weight: 500;
	color: green;

}
.img-top {
	width: 100%;
}

.img-cart {
	width: 25px;
	height: 25px;
	display: inline-block;
}
.sandwich {
	float: left;
}

.nav-sandwich {
	width: 40%;
	float: left;
	margin:0;
	min-width: 160px;
}


.star {
	color: red;
}

#number {
	width:60px;
}
#submit-btn,#number {
	display: inline-flex;
}