html, body {
	height: 100%;
	max-height: 100%;
	color:yellowgreen;
    font-family: 'Roboto', sans-serif;
}
.top-container {
	padding-top: 10%;
}
.general-container form {
    margin-top: 20px;
}
.general-container {
	background:url('img/3.jpeg');
	height:100%;
	font-weight: 400;
}
.title {
	color: white;
	text-align: center;
    font-weight: 700;
}
.btn-orange {
	background: darkorange;
	border: none;
 }

.btn-orange:hover {
	background: #ff6815;
	border: none;
 }