
{% extends "base.html" %}
{% load staticfiles  %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Checkout</h1>
                    <h3 class="text-center">Товары в корзине</h3>
                    <h5 class="text-center">Общая стоимость: {{ request.session.basket.total_price }} грн </h5>
                            {{ request.session.basket.products }}
{#                    <p>Total cost: {{ product_in_card.product.total_price }}</p>#}
{#                        {% for item in product_in_card %}#}
{#                            {{ item.product.name }}#}
{#                        {% endfor %}#}
                 <table class="table">
                            <thead>
                                <tr>
                                    <th>Название товара</th>
                                    <th>Количество</th>
                                    <th>Цена за еденицу</th>
                                    <th>Общая цена</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product_in_basket in products_in_basket %}
                                    <tr>
                                        <td>
                                             {{ product_in_basket.product.name }}
                                        </td>
                                        <td>
                                             <input value="{{ product_in_basket.qty }}" type="number"
                                                    class="product-in-basket-nmb" name="product_in_basket_{{ product_in_basket.id }}">
                                        </td>
                                        <td>
                                            <span class="product-price">
                                                {{ product_in_basket.price}}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="total-product-in-basket-amount">
                                                {{ product_in_basket.total_price }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                </div>
            </div>
        </div>



{% endblock content %}

