
{% extends "base.html" %}
{% load staticfiles  %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Checkout</h1>
                    <p>Total cost: {{ product_in_card.total_price }}</p>
                        {% for item in product_in_card %}
                            {{ item.product.name }}
                        {% endfor %}
                </div>
            </div>
        </div>



{% endblock content %}

