
{% extends "base.html" %}
{% load staticfiles  %}
{% block content %}

    {% if products_in_basket %}
        <div class="container">
            <div class="row">
                <div class="col-md-8-offset-2">
                    <h1 class="text-center">Your Cart</h1>
                    {{ request.session.basket.total_amount }}
                            {{ request.session.basket.products }}

                    <form class="form-inline checkout-form text-center" method="post">{% csrf_token %}
                    <h4>Please set your contacts in this form</h4>
                    <p><span class="star">*</span> be sure to fill in</p>

                        <div class="form-group">
                            <label>Your name <span class="star">*</span> </label>
                            <input type="text" name ="{{ form.name.html_name }}" placeholder="Valera">
                        </div>
                        <div class="form-group">
                            <label>Your phone<span class="star"> *</span> </label>
                            <input type="text" name ="{{ form.phones.html_name }}" placeholder="09878722341">
                        </div>

                         <h3 class="text-center">Products in Cart</h3>

                        <table class="table text-left">
                            <thead align="right">
                                <tr>
                                    <th>Name of product</th>
                                    <th>Qty</th>
                                    <th>Price per item</th>
                                    <th>Total price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product_in_basket in products_in_basket %}
                                    <tr>
                                        <td>
                                             {{ product_in_basket.product.name }}
                                        </td>
                                        <td>
                                             <input value="{{ product_in_basket.qty }}" type="number" id ="check-num" min="1"
                                                    class="product-in-basket-qty input-num" name="product_in_cart_{{ product_in_basket.id }}">
                                        </td>
                                        <td>
                                            <span class="product-price">
                                                {{ product_in_basket.price}}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="total_product_in_cart_amount">
                                                {{ product_in_basket.total_price }}
                                            </span>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-right">
                            <b>Total sum: </b><span class="total_order_amount">54</span>
                        </div>
                        <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-lg make-order-btn"
                            data-set_not_active = {{ products_in_cart.is_active }}>
                                Make an order
                            </button>
                        </div>
                    </form>
                </div>
             {% else %}
                <h3 class="text-center">There are no product in your cart</h3>
            {% endif %}
            </div>
        </div>
{% endblock content %}

