 <footer class="footer">
      <div class="container">
          <a name = "footer"></a>
        <p class="text-muted">
            <div>
             <h4>Contact Us (091 22 94 234)</h4>
            <p>
            Operating Hours:<br>
            Monday-Saturday: 8:00am – 12:00am (EDT)<br>
            Sunday: 9:00am – 12:00am (EDT)<br>
            </p>
          <p>
              CUSTOMER SERVICE: ***Services
              | Return Policy | Request/View Catalog |
              Contact Us | FAQ | Store Locator | Stock Check
              | Buying Guides | Online Shipping Rates |
              Attach File to Order | Planning Tools |
              Assembly Instructions | Warranty Information |
              Ratings and Reviews Terms of Use | Delivery Terms & Conditions
          </p>
      </div>
    </footer>
