<!-- Static navbar -->
{% load static %}
    <nav class="navbar navbar-default navbar-static-top navbar-top">
    <!--search form-->
        <form class="form-inline mt-2 mt-md-0" style="display: inline-flex">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>{#            </div>#}
        </form>
    <!--end of search form-->
    </nav>
    <nav class="navbar navbar-default navbar-static-top navbar-main">
      <div class="container nav-sandwich">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed sandwich" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home'%}">MyStore</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse sandwich">
          <ul class="nav navbar-nav home-navbar">
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="#footer">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
              <ul class="dropdown-menu">
                    <li><a href="#arrivals"><b>New arrivals</b></a></li>
                  <li role="separator" class="divider"></li>
                    <li><a href="#phones">Phones</a></li>
                  <li role="separator" class="divider"></li>
                    <li><a href="#laptops">Laptops</a></li>
{#                  <li role="separator" class="divider"></li>#}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    <ul>

      </ul>
          <ul class="nav navbar-nav  basket">
              <li class="dropdown text-center">
                  <a href="#" class="dropdown-toggle cart-img-in-navbar" data-toggle="dropdown" role="button" aria-expanded="false">
                      <img src="{% static 'media/cart.png' %}" class="img-responsive img-cart">
                      <span id="card_total_orders">
                      {% if products_total_nmb  %}
                          ({{ products_total_nmb }})
                      {% else %}
                          (0)
                      {% endif %}
                    </span><span class="caret"></span>
                  </a>

                  <ul class="dropdown-menu basket-item text-left">
                          <li class="divider"></li>
                      {% for item in products_in_basket %}
                          <li class="text-center">{{ item.product.name }}, qty:{{ item.qty }},<br> total price:{{ item.total_price }}
                          <a href="" id="id-delete_item" class="delete_item" data-product_id = "{{ item.id }}" >x</a>
                          </li>
                          <li class="divider"></li>
                      {% endfor %}
                   <div class="text-center">
                            <a href="{% url 'checkout'%}">Go to Cart</a>
                      </div>
                  </ul>
              </li>
          </ul>
    </nav>
