
{% extends "base.html" %}
{% load staticfiles  %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image-item">
                    {% for item in product.productimage_set.all %}
                        <img src="{{ item.image.url }}" class="image-responsive item-img">
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h1>
                    {{ product.name }}
                </h1>
                <p>Price: {{ product.price_per_item}}UAH</p>
                <div>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">description</a></li>
                    <li role="presentation"><a href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">delivery</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content product-description">
                    <div role="tabpanel" class="tab-pane active" id="description">
                        {{ product.description }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="delivery">
                        <h3>
                            Choose way to shipping and payments,please.
                        </h3>
                        <div>
                            <h4>Shipping</h4>
                            <div class="radio-inline">
                              <label><input type="radio" name="optradio">By courier</label>
                            </div>
                            <div class="radio-inline">
                              <label><input type="radio" name="optradio">By yourself</label>
                            </div>
                        </div>
                        <div>
                            <h4>Payments</h4>
                            <div class="radio-inline">
                              <label><input type="radio" name="optradio1">Cash</label>
                            </div>
                            <div class="radio-inline">
                              <label><input type="radio" name="optradio1">Card</label>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div>
                    <form id="form_buying_product" class="form-inline buy-form" action=" {% url "basket_adding" %} "
                    name="{{ form.name.html_name }} "
                    >{% csrf_token %}
                        <input type="number" class="form-control input-num" id="number" min="1">
                        <button type="submit" class="btn btn-success btn-buy" id="submit-btn"
                                data-product_id = '{{ product_id }}'
                                data-name = '{{ product.name }}'
                                data-price = '{{ product.price_per_item }}'
                                data-target="#myModal"
{#                                data-toggle="modal"#}
                        >
                            Buy
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

 <!-- Modal -->
 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Product was added to your cart</h4>
      </div>
      <div class="modal-body">
        <h5>For completing your order you have to move to cart page </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

