
{% extends "base.html" %}
{% load staticfiles  %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image-item">
                    {% for item in product.productimage_set.all %}
                        <img src="{{ item.image.url }}" class="image-responsive">
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <p>Price: {{ product.price }}UAH</p>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>


{% endblock content %}

